<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Forgot password</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Use Android" ng-click="cancel()">
            <md-icon class="material-icons ">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div ng-hide="emailsent">
          <div class="md-title">
            Please, enter your email to reset account password.
          </div>
          <br>
          <md-input-container class="login-input">
            <label>Email</label>
            <input type="email" ng-model="resetEmailAddress">
          </md-input-container>
          <md-button class="md-raised md-primary" ng-click="resendPassword(resetEmailAddress)">Send</md-button>
        </div>
        <div ng-show="emailsent">
          Check out your inbox
        </div>

      </div>
    </md-dialog-content>


  </form>
</md-dialog>
