<div layout="row">
  <div flex="33" layout="column" layout-align="start center">
    <md-input-container class="md-icon-float md-block input-parameter">
         <label>Author name</label>
         <input ng-model="a" name="auth" type="text" >
    </md-input-container>
    <md-input-container class="md-icon-float md-block input-parameter">
         <label>Author initials</label>
         <input ng-model="b" name="init" type="text" >
    </md-input-container>
    <md-input-container class="md-icon-float md-block input-parameter">
         <label>Author surname</label>
         <input ng-model="c" name="init" type="text" >
    </md-input-container>

    <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
        <md-icon class="material-icons ">add</md-icon>
    </md-button>
  </div>
