<div class="step4-container">
<div class="readyCitation" layout="row" style="font-size:20px;margin-top:40px;" >
<label class="citationLabel" style="width:30%;"> <i><b>Your citation: </b></i>  </label><br /><br /><br />
<div class="citationWindow"style="border: solid black 1px; font-size:35px;width:70%;">{{allauthors}}</div>
</div><br /><br />
<div class="readyBibliography" layout="row" style="font-size:20px;margin-top:40px;" >
<label class="bibliographyLabel"style="width:30%;"><i><b>Your Bibliography:</b></i> </label><br /><br /><br />
<div class="bibliographyWindow" style="border:solid black 1px; font-size:35px;width:70%;">Example of bibliography, example of bibliography</div>
</div><br /><br />
<md-button style="background-color: mediumspringgreen;">See examples</md-button>
<md-button style="background-color: mediumspringgreen;">Save</md-button>
<md-button style="background-color: mediumspringgreen;" ng-click="nextStep()">Go to your texts</md-button>
</div>
