.md-table-row{
  transition: all 0.1s;
  cursor: pointer;
}
.md-table-row:hover{
  background-color: #eeeeee;
}

.projects-bin-icon{
  text-align: right!important;
  transition: all 0.2s;
}
.projects-bin-icon > .md-icon-button{
  opacity: 0;

}


.md-table-row:hover > .projects-bin-icon > .md-icon-button{
  opacity: 1;
}

.projects-new-item{
  background-color: rgba(252,252,252,1)!important;
}
.projects-new-item  .input-field{
  border: none;
  background-color: transparent;
}
textarea:focus, input:focus, button:focus, li:focus, a:focus, select:focus, md-icon:focus, div:focus{
	outline: 0!important;
}

.finalPage-container{
  width: 800px;
  max-width: 100%;
  margin-top: 40px;
}

.whiteback{
  background-color: white;
}

.final-header-container{
  width: 100%;
  height: 64px;
  margin-bottom: 20px;
}
.final-content-block{
  width: 100%;
}
.item-content-block{
  width: calc(50% - 10px);
  height: 600px;
  
}
.item-title{
  margin-top: 10px;
}

.citation-block-content{
  overflow-y: auto!important;
  height: 558px;
}

/*.citation-item-list{
  background-color: red!important;
}*/
.citation-item-list  .citation-item-button{
  opacity: 0;
  transition: all 0.2s;
}
.citation-item-list:hover  .citation-item-button{
  opacity: 1!important;
}
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }


/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/








.write-container{
  height: 500px;
}

trix-editor{
  height: 100%!important;
  background-color: white;
}
.write-navigation{
  width: 100px;
}
.write-pagination{
  margin-top: 70px;
}