.steps-navigation{
    width: 800px;
    /*background-color: grey;*/
    margin-top: 40px;
}
.steps-navigation-inline{
    height: 1px;
    background-color: rgba(130,130,130,1);
}
.step1-container{
    width: 500px;
    margin-top: 40px;
    max-width: 100%;
}
.step2-container{
    width: 500px;
    margin-top: 80px;
    max-width: 100%;
}

.step1-tile{
  background-color: white;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  transition: all 0.3s;

}

.step1-tile:hover{
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}


.step3-container{
  background-color: white;
  margin-top: 40px;
  width: 700px;
  max-width: 100%;
  padding-bottom: 40px;
}
.step3-container md-input-container .md-errors-spacer{
  display: none!important
}

.search-input{
  width: 250px;
  max-width: 100%;
}

.input-parameter{
  padding: 0px 20px 0px 20px;
}
